.daily {
  display: flex;
  overflow: auto;
  padding-top: 10px;

  &-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 8px 4px;
    margin-right: 10px;
    width: 32px;
    height: 56px;
    background: rgba(255, 255, 255, 0.3);

    &-time {
      font-weight: 400;
      font-size: 7px;
      line-height: 8px;
      color: #9C9EAA;
    }

    &-temp {
      font-weight: 700;
      font-size: 7px;
      line-height: 8px;
      text-align: center;
      color: #303345;
    }

    &-code {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px;
      width: 24px;
      height: 24px;
      img {
        max-width: 20px;
        max-height: 20px;
      }
    }
  }
}
