.wrap {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 8px;
  color: #303345;
  height: 48px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 11px;
  background: rgb(255 255 255 / 36%);
  border: 0.5px solid rgb(255 255 255 / 50%);
  border-radius: 10px;
}

.label {
  display: flex;
  align-items: center;

  .img {
    background: rgb(255 255 255 / 90%);    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 9px 10px -3px rgb(23 126 37 / 15%), 0 0 10px rgb(0 0 0 / 7%);

    img {
      max-width: 20px;
      max-height: 20px;
    }
  }

  span {
    text-transform: capitalize;
    margin-left: 10px;
  }
}