.wrap {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  padding: 18px 16px;
  // background: linear-gradient(180deg, #f8be84 0%, #FEA14E 100%);
}

