.wrap {
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100vw;
  min-height: calc(100vh - 48px);
  padding: 18px 16px;
}

.arrow {
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .arrow {
    display: none;
  }
}