.wrap {
    display: flex;
    height: 48px;
    width: 100vw;
    padding: 15px;
    justify-content: space-between;
}

.pagination {
    display: flex;
    align-items: center;
}

.dot {
    background: black;
    margin-right: 8px;
    width: 5px;
    height: 5px;
}

.dot-expanded {
    animation: expand .3s linear forwards;
}

.dot-collapsed {
    animation: collapse .3s linear forwards;
}

@keyframes expand {
    from {
        width: 5px;
        height: 5px;
        border-radius: 50%;
    }

    to {
        width: 17px;
        border-radius: 2px;    
    }
}

@keyframes collapse {
    from {
        width: 17px;
        border-radius: 2px;    
    }

    to {
        width: 5px;
        height: 5px;
        border-radius: 50%;
    }
}