.wrap {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #303345;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 11px;
    background: rgb(255 255 255 / 36%);
    border: 0.5px solid rgb(255 255 255 / 50%);
    border-radius: 10px;
}

.cameras-list {
    overflow: auto;
}

embed {
    margin-bottom: 15px;
}